body {
margin: 0;
padding: 0;
min-width: 1040px;
font-size: 16px;
line-height: 30px;
font-family: “Arial”, sans-serif;
color: #404040;
background-color: white;
}

.container {
width: 1020px;
margin: 0 auto;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}


header {
min-height: 490px;
padding-top: 60px;
background-image: url("img/wheat-back.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-position: bottom;

}

header .container {
width: 800px;
margin: 0 auto;
}

header,
footer {
color: #ffffff;
background-color: #000000;
}

.header-top {
min-width: 800px;
height: 80px;
padding: 0;
margin-bottom: 116px;
}

.header-logo {
float: left;
width: 140px;
height: 76px;
}

.header-logo img {
width: 140px;
height: 76px;
}

.main-nav {
float: right;
width: 600px;
margin: 10px 0 3px 60px;
padding: 14px 0 13px;
list-style: none;
border-top: 1px solid rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav li {
float: left;
margin-right: 54.5px;
text-transform: uppercase;
}

.main-nav li:last-child {
margin-right: 0;
}

.main-nav a {
text-decoration: none;
font-weight: bold;
color: #ffffff;
}

.main-nav a:hover {
color: #ffcb78;
text-decoration: underline;
}

.main-nav a:active {
color: #ffcb78;
opacity: 0.3;
}

.promo {
margin: 0;
padding: 0;
font-weight: bold;
font-size: 70px;
line-height: 70px;
text-align: center;
}


.feature {
	padding-top: 80px;
	width: 1015px;
	margin: 0 auto;
}

.feature .container {
	width: 800px;
	margin: auto;
}

.feature h2{
	font-size: 40px;
	color: black;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 0;
	text-transform: uppercase;
	margin-bottom: 75px;

	line-height: 60px;

}

.feature-items {


	margin: 0;
	margin-top: 0;


}

.feature-item {
	width: 50%;
	float: left;
	border-left: 1px solid black;
	height: 760px;
	position: relative;
	padding-left: 34px;
	padding-right: 30px;
  padding-top: 0px;
	padding-bottom: 0px;
	box-sizing: border-box;

}

.feature-item h3{
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 10px;
	margin-top: 0px;
	line-height: 40px;
	color: black;

}
.feature-item:nth-child(even) {
	border-right: 1px solid black;
	padding-left: 33px;
}

.bottle-left,
.bottle-right {
	padding-left: 10px;
	margin-right: 0px;
}

.feature-params {
	border-collapse: collapse;
	width: 150px;
	height: 82px;
	text-transform: uppercase;
	color: black;
	font-weight: bold;




}
.feature-params td {
	padding: 0px 10px;

}
.feature-params, .feature-params td {
	border: 1px solid #777;
}

.bottle-holder {
	position: relative;
}

.feature-consist {
	width: 150px;
	font-size: 14px;
	margin-top: -5px;
	line-height: 25px;
}

.feature-info {
	position: absolute;
	top: -4px;
	right: 6px;
	width: 140px;
}

.feature-item a.btn{
	text-align: center;
	font-weight: bold;



}

.feature-item .btn {
	display: inline-block;
	margin-right: 3px;
	text-decoration: none;
	border: 2px solid #844802;
	text-transform: uppercase;
	padding: 0 10px;
	color: #844802;
	line-height: 46px;
	width: 122px;
	text-align: center;



}


.feature-item b {
	padding-left: 16px;
	color: black;
}


.feature-item .btn.btn-inverse {
	color: white;
	background-color: #844802;
	vertical-align: bottom;
	width: 85px;
	text-align: center;
}

.right-description,
.left-description{
	padding-top: 0px;
	margin-top: 0px;
	height: 100px;
}

.button-down {
	position: absolute;
	bottom: 1px;
}

.advantages {
 height: 412px;
 padding-top: 60px;
 padding-bottom: 55px;
 background: #ffcb78;
 margin-top:0;
 box-sizing: border-box;
 width: auto;


}
.advantages .container{
	padding-top: 20px;


}


.advantages ul {
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;

}

.advantages-item {
	text-align: center;
	border-left: 1px solid black;
	float: left;
	width: 30%;
	padding-left: 80px;
	padding-right: 20px;
	padding-top: 100px;
	box-sizing: border-box;
}

.advantages-item p{
	margin: 0px;
	text-align: left;
	width: 76%;


}

.advantages-item:first-child {

	border-color: transparent;
	padding-left: 1px;


}

.advantages-item:last-child {
	padding-right: 0;
	padding-left: 90px;
}

.advantage-title {
	font-weight: bold;
  font-size: 30px;
  line-height: 30px;

	margin: 0px;
	margin-bottom: 20px;

}
.advantages-item h2 {
	text-transform: uppercase;
	font-size: 20px;
	text-align: left;
	color: black;
}

.advantage-hendmade{
 background: url("img/brew.png") 1px 0% no-repeat;
}

.advantage-relative{
	padding-left: 96px;
	width: 40%;
  background: url("img/matreshka.png")  27% 0% no-repeat;
}

.advantage-relative p {
	width: 70%
}

.advantage-uneconomical p {
	width: 100%;

}



.advantage-uneconomical{
	 background: url("img/thumbsup.png")  37% 0% no-repeat;

}


<script src="http://localhost:35729/livereload.js"></script>
