body {
margin: 0;
padding: 0;
min-width: 1040px;
font-size: 16px;
line-height: 30px;
font-family: “Arial”, sans-serif;
color: #404040;
background-color: white;
}

.container {
width: 1020px;
margin: 0 auto;
}

.clearfix::after {
content: "";
display: table;
clear: both;
}


header {
min-height: 490px;
padding-top: 60px;
background-image: url("img/wheat-back.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-position: bottom;

}

header .container {
width: 800px;
margin: 0 auto;
}

header,
footer {
color: #ffffff;
background-color: #000000;
}

.header-top {
min-width: 800px;
height: 80px;
padding: 0;
margin-bottom: 116px;
}

.header-logo {
float: left;
width: 140px;
height: 76px;
}

.header-logo img {
width: 140px;
height: 76px;
}

.main-nav {
float: right;
width: 600px;
margin: 10px 0 3px 60px;
padding: 14px 0 13px;
list-style: none;
border-top: 1px solid rgba(255, 255, 255, 0.2);
border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav li {
float: left;
margin-right: 54.5px;
text-transform: uppercase;
}

.main-nav li:last-child {
margin-right: 0;
}

.main-nav a {
text-decoration: none;
font-weight: bold;
color: #ffffff;
}

.main-nav a:hover {
color: #ffcb78;
text-decoration: underline;
}

.main-nav a:active {
color: #ffcb78;
opacity: 0.3;
}

.promo {
margin: 0;
padding: 0;
font-weight: bold;
font-size: 70px;
line-height: 70px;
text-align: center;
}


.feature {
	padding-top: 75px;
	width: 1015px;
	margin: 0 auto;
}

.feature .container {
	width: 800px;
	margin: auto;
  padding-top: 0px;
}

.feature h2{
	font-size: 40px;
	color: black;
	font-weight: bold;
	margin-top: 0px;
	margin-left: 0;
	text-transform: uppercase;
	margin-bottom: 105px;
  padding-top: 20px;

	height: 60px;

}

.feature-items {
	padding-top: 20px;

	margin: 0;
	margin-top: 0;


}

.feature-item {
	width: 400px;
	float: left;
	border-left: 1px solid black;
	margin-top: -30px;
	height: 760px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
  padding-top: 0;
	box-sizing: border-box;

}

.feature-item h3{
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 0;

}
.feature-item:nth-child(even) {
	border-right: 1px solid black;
}

.feature-params {
	border-collapse: collapse;
}
.feature-params td {
	padding: 0px 10px;
}
.feature-params, .feature-params td {
	border: 1px solid #777;
}

.bottle-holder {
	position: relative;
}

.feature-info {
	position: absolute;
	top: 0;
	right: 0;
	width: 140px;
}

.feature-item .btn {
	display: inline-block;
	text-decoration: none;
	border: 2px solid brown;
	text-transform: uppercase;
	padding: 0 10px;
	color: brown;
	line-height: 32px;
}

.feature-item .btn.btn-inverse {
	color: white;
	background: brown;
}

.right-description,
.left-description{

	height: 100px;
}


<script src="http://localhost:35729/livereload.js"></script>
